@import url('http://fonts.cdnfonts.com/css/mortal-kombat');

/* General */
body{
    margin: 0;
    padding: 0;
    background-image: url("img/arena.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:white;
    min-height: 100vh;
}

aside{
    transition: all 0.3s ease-in-out;
    visibility: hidden;
}

aside p{
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}

h1{
    font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (1600 - 320)));
}

h1:first-of-type{
    margin: 0.5em 0;
}

/* Gamefield */

.gameContainer{
    max-width: 1200px;
    width: 90%;
    margin: 3% auto;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.808);
    box-shadow: 0 0 200px rgb(0, 0, 0);
}

.menu{
    justify-content: space-around;
    flex-wrap: wrap;
}

.icons{
    justify-content: center;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.icons span {
    flex: 1 1 90px;
}
.icons span>img{
    height: 100%;
    max-width: 7em;
    max-height: 7em;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.interactiveField{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 400px;
}

.inputField{
    width: 20%;
    height: 2em;
    order: 2;
}

.dynamicFontSize{
    font-size: calc(16px + (28 - 16) * ((100vw - 320px) / (1600 - 320)));
}

.verifyButton{
    width: fit-content;
    height: 2.5em;

    order: 3;
}

.verifyButton:active ~ .inputField{
    border-color: green;
}

.noneInteractiveField{
    height: auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.noneInteractiveField > div:not(:first-of-type){
    width: 40%;
    margin:0.2em;
}

.bigIMGs{
    margin: 1em auto 0;
    width: 10vw;
    height: 10vw;
    display: block;
}

.border{
    border: 3px solid;
}

.borderSmall{
    border: 2px solid;
}

.coolBorder{
    border-bottom-left-radius: 100px;
    border-top-right-radius:  100px;
    border-top-left-radius:  20px;
    border-bottom-right-radius:  20px;
}

.borderSmall, .border, .borderRadius{
    border-radius: 10px;
}

.borderColorRed{
    border-color: red;
}

.borderColorBlue{
    border-color: blue;
}

.borderColorWhite{
    border-color: white;
}
.borderColorGray{
    border-color: gray;
}
.borderColorBlack{
    border-color: black;
}

.inline, .noneInteractiveField > div:not(:first-of-type) > p{
    display: inline;
}

.flex{
    display: flex;
}

.textMK{
    font-family: 'Mortal Kombat 4', sans-serif;
}

.centerText{
    text-align: center;
}

.fitContentHeight{
    height: fit-content;
}

.marginTop1em, .interactiveField, .interactiveField>* {
    margin-top: 1em;
}

.marginBot1em{
    margin-bottom: 1em;
}

.width100{
    width: 100%;
}

@media (max-width: 720px){
    .gameContainer{
        width: 100%;
    }
    .bigIMGs{
        width: 8em;
        height: 8em;
    }
}